@model List<Product>
@{
    ViewData["Title"] = "Partner";
    ViewBag.Dta="new";
   
}

<h1>@ViewBag.Title</h1>

@if (TempData["message"]!=null){
    <div class="col-sm-8">
        <div class="alert alert-primary">@TempData["message"]</div>
    </div>
}



<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            <a asp-action="List" asp-route-id="All"
               class="list-group-item
                @if (ViewBag.SelectedCategoryName == "All") {
                    <text>active</text>
                } ">All</a>
            @foreach (Category c in ViewBag.Categories)
            {
                <a asp-action="List" asp-route-id="@c.Name"
                   class="list-group-item
                         @(ViewBag.SelectedCategoryName == c.Name ? "active" : "")">
                    @c.Name
                </a>
            }
        </ul>
    </div>

    <div class="col-md-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.BusinessName</td>
                        <td>@p.BusinessAddress</td>
                        <td>@p.BusinessEmail</td>
                        <td>@p.BusinessPhone</td>
                        @if(@p.CategoryID==1){
                              <td>Restaurent</td>
                        }
                        else if(@p.CategoryID==2){
                             <td>Grocery</td>
                        }
                        else if(@p.CategoryID==3){
                            <td>Alcohol</td>
                        }
                         else if(@p.CategoryID==4){
                            <td>Convienience</td>
                        }
                         else if(@p.CategoryID==5){
                            <td>Flower shop</td>
                        }
                        else if(@p.CategoryID==6){
                            <td>Pet Store</td>
                        }
                        else if(@p.CategoryID==7){
                            <td>retail</td>
                        }
                        <td> <a asp-action="Approve"
                               asp-route-id="@p.ProductID">new</a></td>
                       
                        @* <td>@p.Price.ToString("C")</td> *@
                        <td>
                            <a asp-action="Update"
                               asp-route-id="@p.ProductID">Update</a>
                        </td>
                        <td>
                            <a asp-action="Delete"
                               asp-route-id="@p.ProductID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Add" class="btn btn-primary">Add New Product</a>
    </div>
</div>